html {
    max-width: 95vw;
    margin: auto;
    background-color: #000000;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

#section_1 {
    background-color: #1F2937;
    padding: 1em 1em 1em 1em;
}

#section_2 {
    margin-bottom: 3em;
    background-color: #FFFFFF;
}

#section_3 {
    background-color: #E5E7EB;
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 20vh;
    justify-content: center;
    margin-bottom: 3em;
}

#section_4 {
    height: 20vh;
    max-width: 70vw;
    margin: auto;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header {
    display: flex;
}

#hero {
    display: flex;
    justify-content: center;
    margin: 6em 15em;
}

#header > * {
    margin-bottom: 1em;
}

#footer {
    background-color: #1F2937;
    padding: 1em 2em 1em 2em;
    margin-top: 3em;
}

#footer > p {
    color:#E5E7EB;
    text-align: center;
}

.action_call_button {
    background: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    padding: 10px;
}

.action_call_header {
    font-weight: 800;
    color: #F9FAF8;
    font-size: 24px;
}

.action_call_text {
    color: #E5E7EB;
    font-size: 18px;
}

.button {
    background: #3882F6;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.flexdiv {
    margin: auto;
    display: flex;
    max-width: 60vw;
    justify-content: space-evenly;
}

.flexdiv_image {
    width: 10vw;
    aspect-ratio: 1/1;
    border: 2px solid #3882F6;
    border-radius: 10px;
    margin: 2em 2em -1em 2em;
}

.flexdiv_image_caption {
    font-size: 18px;
    text-align: center;
}

.header_logo {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 800;
    margin-right: auto;
}

.header_link {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0 0.5em 0 0.5em;
}

.hero_image {
    width: 50%;
    height: auto;
}

.hero_main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero_secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.hero_text {
    width: 50%;
}

.quote_author {
    color: #1F2937;
    font-weight: 800;
    font-size: 24px;
    text-align: right;
}

.quote_text {
    color: #1F2937;
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
}

.section_2_header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

div.flexdiv {

}

span.hero_secondary {
    font-weight: 800;
}

/* .test {
    font-weight: 800;
} */