body {
    padding: 0;
    margin: 0;
}

#section_1 {
    background-color: #1F2937;
    padding: 1em 1em 1em 1em;
}

#section_3 {
    background-color: #E5E7EB;
}

#section_4 {
    max-width: 70vw;
    margin: auto;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
}

#header {
    display: flex;
}

#hero {
    display: flex;
}

#header > * {
    margin-bottom: 1em;
}

#hero > * {
    flex: auto;
}

#footer {
    background-color: #1F2937;
}

#footer > p {
    color:#E5E7EB;
    text-align: center;
}

.action_call_button {
    background: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 2px;
    padding: 10px;
}

.button {
    background: #3882F6;
    border: 0;
    border-radius: 2px;
    padding: 10px;
}

.flexdiv {
    display: flex;
    justify-content: space-evenly;
}

.flexdiv_image {
    height: 50px;
    width: 50px;
    border: 2px solid #3882F6;
    border-radius: 2px;
}

.header_logo {
    color:#F9FAF8;
    font-size: 24px;
    margin-right: auto;
}

.header_link {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0 0.5em 0 0.5em;
}

.hero_image {
    width: 100%;
    height: auto;
}

.hero_main {

}

.hero_secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.hero_text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.quote_author {
    font-color: #1F2937;
    font-weight: 800;
    font-size: 24px;
    text-align: right;
}

.quote_text {
    font-color: #1F2937;
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
}

.section_2_header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

div.flexdiv {

}

span.hero_secondary {
    font-weight: 800;
}

/* .test {
    font-weight: 800;
} */