html {
    max-width: 95vw;
    margin: auto;
    background-color: #000000;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

/* div modifiers */

    /* flex */
.flex {
    display: flex;
}

.flex-center-main {
    justify-content: center;
}

/* text modifiers */

    /* position */
.center-text {
    text-align: center;
}

.right-align-text {
    text-align: right;
}

    /* font style */
.italic {
    font-style: italic;
}

    /* font size */
.small-font {
    font-size: 18px;
}

.medium-small-font {
    font-size: 24px;
}

.medium-font {
    font-size: 36px;
}

.large-font {
    font-size: 48px;
}

    /* font weight */
.extra-bold {
    font-weight: 800;
}

.light {
    font-weight: 100;
}

/* CSS Box modifiers */

    /* padding */
.padding-1em {
    padding: 1em;
}

.button-padding {
    padding: 10px;
}

    /* border */
.rounded-border {
    border: 2px solid;
    border-radius: 10px;
}

    /* margins */
.center-div {
    margin: auto;
}

.max-right-margin {
    margin-right: auto;
}

.small-right-margin {
    margin: 0 0.5em;
}

    /* separator div definition */
.separator {
    height: 1em;
    margin: 2em 0 0 0;
}

/* colors */

.main-color {
    background-color: #1F2937;
}

.main-color-text {
    color: #1F2937;
}

.main-color-border {
    border-color: #1F2937;
}

.secondary-color {
    background-color: #3882F6;
}

.secondary-color-text {
    color: #3882F6;
}

.secondary-color-border {
    border-color: #3882F6;
}

.high-contrast {
    color: #F9FAF8;
}

.high-contrast-border {
    border-color: #F9FAF8;
}

.less-contrast {
    color: #E5E7EB;
}

.less-contrast-border {
    border-color: #E5E7EB;
}

/* specific CSS */

    /* hero section */
.hero {
    margin: 6em 15em;
}

.hero-50-split {
    width: 50%;
    height: auto;
}

    /* section 2 */
.section-2-div {
    max-width: 60vw;
    justify-content: space-evenly;
}

.section-2-image {
    width: 10vw;
    aspect-ratio: 1/1;
    margin: 2em 2em -1em 2em;
}

    /* ID definitions */

#footer {
    padding: 1em 2em;
}

#section-3 {
    background: #E5E7EB;
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 20vh;
    justify-content: center;
}

#section-4 {
    height: 20vh;
    max-width: 70vw;
    justify-content: space-around;
    align-items: center;
}